@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Playfair+Display:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-brand-cream text-brand-brown font-sans;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif;
  }
}
